body{
    font-size: medium;
    font-family: serif;
}
h1{
    color: #16c9ab;
    text-align: center;
    font-style: italic;
}

h6{
    font-size: medium;
    text-align: center;

    
}

img{
    border-radius: 80%;
    align-items: center;
}
p{
    text-align: center;
    font-style: italic;
}

#header{
    color: rgb(126, 115, 21);
}

.wrapper{
    color: blue;
}